<header class="bg-white  flex justify-between items-center border border-[#D9D9D9] p-4 px-30.5 h-17.5">
  <div class="flex items-center gap-1">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="15" cy="15" r="15" fill="#444CE7"/>
      </svg>
      <h1 class="font-sans text-xl font-bold leading-[24.2px] tracking-normal">Kimbiiz</h1>
  </div>
    <button class="bg-indigo-600 text-white px-4 py-2 rounded-lg">Me connecter</button>
</header>
<router-outlet></router-outlet>
<footer class="bg-white shadow-md flex justify-center items-center border border-[#D9D9D9] p-4">
    <p class="font-inter text-sm font-normal leading-[19.5px] tracking-normal">© 2021 Kimbiiz. Tous droits réservés.</p>
